# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/*.keystore
**/*.jks

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
